{% extends "layout.html" %}
{% block content %}
    <h1>About Page</h1>
    <p>Allo (Hausa Language for Chalkboard, blackboard or slate) is an opensource web application where users cann share their thoughts, information in form of news stories or articles as well as create blogs about various topics. Posts created by users are available to any member of the public who visits
     the site, however posts can only be created by registered users.</p>
    <br>
    <p>This WebApp was created as a part of the requirement for the completion of Havards CS50x Course</p>
    <br>
    <p>Happy Writing!!</p>

{% endblock content %}